:root {
    --main-bg-color: #36454f;
}
body{
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}
.gameboard{
    
    display: grid;
    grid-template-columns: repeat(3,10rem);
    grid-template-rows: repeat(3,10rem);
    gap: 10px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}
.square{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-shadow: 1px 1px 2px grey;
    box-shadow: 5px 5px 15px black;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

#start{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
#start input[type="text"]{
    outline: none;
    background-color: var(--main-bg-color);
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}
#start input[type="submit"]{
    outline: none;
    margin: 10px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    color: var(--main-bg-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
}
#start input[type="radio"]{
    accent-color:var(--main-bg-color);
    background-color: var(--main-bg-color);
}

#players{
    font-size: 2rem;
    margin: 40px;
    display: none;
    justify-content: center;
    align-items: center;
}
#reset_button{
    outline: none;
    margin: 10px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    color: var(--main-bg-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
}